<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
	<div class='container'>
		<div id="screenshot">
			<video autoplay></video>
			<img src="">
			<canvas style="display:none;"></canvas>
			<br>
			<input type="text" name="username" placeholder="username here">
			<h1>Click the video to login or <a href="/">Login</a></h1>
		</div>
	</div>

	<script type="text/javascript" src="static/js/functions.js"></script>
	<script type="text/javascript" src="static/js/index.js"></script>

</body>
</html>