{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
	<div class='container'>
		<div id="screenshot">
			<form action="">
				{% csrf_token %}
				<video autoplay></video>
			</form>

			<img src="">
			<canvas style="display:none;"></canvas>
			
			<br>
			<h1>Click the video to login or <a href="/">Login</a></h1>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>
</html>